body {
  background-color: var(--background-color);
  transition: background-color 0.5s;
}

h1, h2, h3, h4, p, hr {
  color: var(--text-color);
  transition: color 0.5s;
}

.info-section {
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 5%;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.centered-text {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}
.right-div {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.search-bar-container {
  /* padding-top: 20vh; /* Padding */
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;

  position: relative;
}

.placeholder {
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center;     /* Vertical alignment */
  flex-direction: column;  /* Stack items vertically */
}

.graphs-container {
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center;     /* Vertical alignment */
  flex-direction: column;  /* Stack items vertically */
}

.name_container {
  display: flex;
  align-items: center; /* Vertically centers the content */
  justify-content: flex-end; /* Aligns content to the right */
  padding-right: 10px;
}
.name_paragraph {
  color: var(--text-color);
  transition: color 0.5s;
  font-size: 10px;
  margin-right: 5px; /* Space between text and link */
}
.github_link {
  font-size: 10px;
}



/* .App {
  text-align: center;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 0;
  background-color: #f0f8ff;
  color: #333;
  font-size: 16px;
} */